source https://www.nuget.org/api/v2/

nuget FAKE
nuget Nuget.CommandLine
nuget Caliburn.Metro 0.5.0 framework: >= net452
nuget NLog.Config 4.1.2 framework: >= net452
nuget NuGet.CommandLine 3.3.0 framework: >= net46
nuget Rx-Main 2.2.5 framework: >= net46
nuget ScriptCs.Engine.Roslyn 0.15.0 framework: >= net452
nuget ScriptCs.Hosting 0.15.0 framework: >= net452
nuget structuremap 3.1.6.186 framework: >= net452

# Paket can only do so much with transitive dependencies and
# we need to add these dependencies to get ScriptCS 0.15 to work.

nuget Common.Logging 2.1.2 framework: >= net452
nuget AutoFac.Mef 3.0.3 framework: >= net452
nuget AutoFac 3.3.1 framework: >= net452

