<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.ControlPanel.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Figroll.PersonalTrainer.Properties.Settings" type="System.ControlPanel.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <applicationSettings>
        <Figroll.PersonalTrainer.Properties.Settings>
            <setting name="PersonalTrainerTitle" serializeAs="String">
                <value>PERSONAL TRAINER</value>
            </setting>
        </Figroll.PersonalTrainer.Properties.Settings>
    </applicationSettings>
</configuration>
